@mixin button-styles{
  border-radius: 70px;
  height: 50px;
  width: 120px;
}

.commonButton{
  @include button-styles
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: end;
}