@import "src/shared/config/vars";

.container{
  width: 268px;
  height: 168px;
  display: flex;
  gap:45px;
  align-items: center;
  border: solid 1px $grayMedium30;
  border-radius: $gutter3;
}

.title{
  font-size:$xlarge;
  color: $grayDark;
}

.gradient {
  background-image: linear-gradient(180deg, rgb(45, 200, 168), rgb(255, 255, 255));
  background: -webkit-linear-gradient(180deg, rgb(45, 200, 168), rgb(255, 255, 255));
  background: -moz-linear-gradient(180deg, rgb(45, 200, 168), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(45, 200, 168), rgb(255, 255, 255));
  background-size: cover;
  background-clip: padding-box;
}

.avatarContainer{
  overflow: hidden;
}