$primaryBlue: #514EF3;
$primaryNavy: #092C4C;
$black: #000000;
$lightGrey10: #F6FAFD; //светло-серый10
$grayLightBg20: #EEF6FB; //серый20
$grayDark: #7E92A2; // темно-серый70
$grayMedium30: #EAEEF4; // средне-серый30
$lightBlue: #ECECFE;
$white: #FFFFFF;
$green: #2DC8A8;
$pink: #FE8084;
$yellow: #FFC357;

$gutter-base: 4;
$small-size: 0.75rem;
$medium-size: 0.875rem;
$large-size: 1rem;
$large-number: 16;
$xlarge-size: 1.125rem;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$size: (
        gutter: $gutter-base,
        gutter2: $gutter-base * 2,
        gutter3: $gutter-base * 3,
        gutter4: $gutter-base * 4,
        gutter5: $gutter-base * 5,
        gutter6: $gutter-base * 6,
        small: $small-size,
        medium: $medium-size,
        large: $large-size,
        largeNumber: $large-number,
        xlarge: $xlarge-size,
        sm: $sm-breakpoint,
        md: $md-breakpoint,
        lg: $lg-breakpoint,
        xl: $xl-breakpoint
);
