$primaryBlue: #514EF3;
$primaryNavy: #092C4C;
$black: #000000;
$lightGrey10: #F6FAFD; //светло-серый10
$grayLightBg20: #EEF6FB; //серый20
$grayDark: #7E92A2; // темно-серый70
$gray:#526477;//самый серый90
$grayMedium30: #EAEEF4; // средне-серый30
$lightBlue: #ECECFE;
$white: #FFFFFF;
$green: #2DC8A8;
$pink: #FE8084;
$yellow: #FFC357;

$gutter: 4px;
$gutter2: $gutter * 2;
$gutter3: $gutter * 3;
$gutter4: $gutter * 4;
$gutter5: $gutter * 5;
$gutter6: $gutter * 6;

$small: 0.75rem;
$medium: 0.875rem;
$large: 1rem;
$large-number: 16;
$xlarge: 1.125rem;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
