@import "src/shared/config/vars";

li{
  list-style-type: none;
  padding: 0;
}

ul{
  display: flex;
  gap:$gutter5;
}

.header{
  background-color: $lightGrey10;
  margin: 0 auto;
  border-bottom: solid 1px $grayMedium30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  gap: $gutter5;
    ul {
      li {
        &:nth-last-child(-n+2) {
          button {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

.containerLogo{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  gap: $gutter6;
  margin-left: 20px;
}

.profile{
  background-color:$grayLightBg20 ;
  padding-right:$gutter5;
}

.title {
 padding-left: 21px;
  position: relative;
}

.title::before{
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: $grayMedium30;
  left: 0;
  bottom:0
}
