@import "src/shared/config/vars";


.recentDeals{
  background-color: #EEF6FB;
}

.uploadWrapper{
  background-color:$lightGrey10 ;
  height: 200px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 30px;
  left: 30px;
  background: center center / cover no-repeat;
}

.iconEdit{
  position: absolute;
  bottom: 0;
  left: 90px;
  transform: translate(50%, 50%)
}

div{
  position: relative;
}

.deleteIcon{
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.dealsTitle{
  font-size:$large ;
  color: $gray;
  font-weight: 700;
}

.deal {
  display: flex;
  gap:24px;
  align-items: center;
  margin-bottom: 18px;
}

.button{
  color: $primaryBlue;
  margin: 0 auto;
}
.buttonc{
  display: flex;
}