@import "src/shared/config/vars";


.recentDeals{
  background-color: #EEF6FB;
}

.uploadWrapper{
  background-color:$lightGrey10 ;
  height: 200px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 30px;
  left: 30px;
  background: center center / cover no-repeat;
}

.icon{
  position: absolute;
  bottom: 0;
  left: 90px;
  transform: translate(50%, 50%)
}

div{
  position: relative;
}

.delete{
  position: absolute;
  bottom: 10px;
  right: 20px;
}